*
{
	margin:0;
}

@font-face
{
	src:url('../fonts/OpenSans-Light-webfont.woff');
	font-family:'opensans';
}

body
{
	font-family:opensans;
  background-color: #f2f5ff;
}

.clear
{
  display: block;
  clear: both;
}

#menu {
  height: 40px;
  background-color: #000;
  z-index:2; 
}

#elist_wrap
{
  margin: 0 auto;
  width: 94%;
}

#elist_filter,#elist_moveup
{
  float: left;
  height: 40px;
  background-color: #e2e7fa;
  display: none;
  margin: 10px 0;
}

#event_logo
{
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #f9f9f9;
  vertical-align: middle;
  margin: 20px;
}

#elist_moveup
{
  clear:left;
}

#elist
{
	color:#484848;
}

ul { list-style-type:none;padding:0; }

#elist ul
{
	float:left;
	text-transform:uppercase; 
	font-size:.7em;
	padding: 0 8px;
	border-left:1px dotted #ddd;
	margin: 10px 0 20px;
  width: 16%;
	display:block;
}

#elist li a
{
	line-height:1.8em;
	cursor:pointer;
}

#elist ul>li:first-child
{
	color:#222;
	font-weight:bold;
  margin-bottom: 4px;
}

#elist select
{
	width:100%;
	display:none;
}

#elist a
{
	color:#222;
	text-decoration:none;
}

#elist li a:hover
{
	text-decoration:underline; 
}

#content_wrap
{
  background-image:url('../img/oat_crowd.jpg'); 
  color: #eee;
}

#event_wrap
{
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 0 20px;
}

#event_title
{
  font-size: 32px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

#event_text
{
  background-color: #f5f5f5;
  overflow: auto;
  color: #333;
  padding: 20px;
  font-size:.8em;
}

h3 { margin: 4px 0 10px; }
p { margin: 4px 0 16px; }

@media screen and (max-width: 640px)
{
  #event_wrap { width: auto; }
	#elist ul	{ display:none; }
	#elist select	{ display:block; }
}

@media screen and (min-width: 640px)
{
  #elist_wrap { max-width: 720px; }
  #elist_filter { display:block; width: 130px; }
  #elist_moveup { display:block; width: 130px; }
  #elist { margin-left: 140px; }
}

@media screen and (min-width: 800px)
{
  #elist_wrap { max-width: 860px; }
  #elist_filter { display:block; width: 170px; }
  #elist_moveup { display:block; width: 170px; }
  #elist { margin-left: 180px; }
	#elist ul	{ padding-left: 12px; padding-right: 8px; }
	#elist select	{ display:none; }
  #event_logo { width: 120px; height: 120px; border-radius: 50%; }
  #event_title { font-size: 2.5em; }
  #edesc_sections { font-size: 1.2em; padding: 0 20px; }
}

@media screen and (min-width: 960px)
{
  #elist_wrap { max-width: 1000px; }
  #elist_filter { display:block; width: 200px; }
  #elist_moveup { display:block; width: 200px; }
  #elist { margin-left: 210px; }
	#elist ul	{ padding-left: 16px; padding-right: 12px; width: 15%; }
	#elist select	{ display:none; }
}

@media screen and (min-width: 1160px)
{
  #elist_wrap { max-width: 1100px; }
  #elist_filter { display:block; width: 240px; }
  #elist_moveup { display:block; width: 240px; }
  #elist { margin-left: 250px; }
	#elist ul	{ padding-left: 20px; padding-right: 16px; }
	#elist select	{ display:none; }
}
