*
{
	margin:0;
}

@font-face
{
	src:url('../fonts/OpenSans-Light-webfont.woff');
	font-family:'opensans';
}

body
{
	font-family:opensans;
  background-color: #f2f5ff;
}

.clear
{
  display: block;
  clear: both;
}

#menu {
  height: 40px;
  background-color: #000;
}

#elist_wrap
{
  margin: 0 auto;
  width: 94%;
}

#elist_filter
{
  float: left;
  height: 40px;
  background-color: #e2e7fa;
  display: none;
  margin: 10px 0;
}

#elist
{
	color:#484848;
	/*border-left:1px solid #ddd;
  /*background-color: #f2f2f2;*/
}

ul { list-style-type:none; }

#elist ul
{
	float:left;
	text-transform:uppercase; 
	font-size:.7em;
	padding: 0 8px;
	border-left:1px dotted #ddd;
	margin: 10px 0 20px;
  width: 16%;
	display:none;
}

#elist li a
{
	line-height:1.8em;
	cursor:pointer;
}

#elist ul>li:first-child
{
	color:#222;
	font-weight:bold;
  margin-bottom: 4px;
}

#elist select
{
	width:100%;
}

#elist a
{
	color:#222;
	text-decoration:none;
}

#elist li a:hover
{
	text-decoration:underline; 
}

#content_wrap
{
  background-color: #222;
  color: #eee;
}

#event_wrap
{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0 20px;
}

#event_logo
{
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 1px solid #f9f9f9;
  vertical-align: middle;
  margin: 20px 20px 30px;
}

#event_title
{
  font-size: 40px;
  padding: 10px;
}

#edesc_sections
{
  font-size: 24px;
  padding: 0 20px;
}

#edesc_sections li
{
  float: left;
  padding: 6px;
  margin: 4px 12px 8px 0;
}

#edesc_sections li:hover
{
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

#edesc_sections li a
{
  color: inherit;
  text-decoration: none;
}

#event_text
{
  height: 400px;
  background-color: #f5f5f5;
  overflow: auto;
  color: #333;
  padding: 20px;
}

h3 { margin: 4px 0 10px; }
p { margin: 4px 0 16px; }

@media screen and (max-width: 640px)
{
  #event_wrap { width: auto; }
  #event_text { height: auto; }
}

@media screen and (min-width: 640px)
{
  #elist_wrap { max-width: 700px; }
  #elist_filter { display:block; width: 130px; }
  #elist { margin-left: 140px; }
	#elist ul	{ display:block; }
	#elist select	{ display:none; }
}

@media screen and (min-width: 800px)
{
  #elist_wrap { max-width: 900px; }
  #elist_filter { display:block; width: 170px; }
  #elist { margin-left: 180px; }
	#elist ul	{ /*width:90px;*/ padding-left: 12px; padding-right: 8px; }
	#elist select	{ display:none; }
}

@media screen and (min-width: 960px)
{
  #elist_wrap { max-width: 1000px; }
  #elist_filter { display:block; width: 200px; }
  #elist { margin-left: 210px; }
	#elist ul	{ padding-left: 16px; padding-right: 12px; width: 15%; }
	#elist select	{ display:none; }
}

@media screen and (min-width: 1160px)
{
  #elist_wrap { max-width: 1200px; }
  #elist_filter { display:block; width: 240px; }
  #elist { margin-left: 250px; }
	#elist ul	{ padding-left: 20px; padding-right: 16px; }
	#elist select	{ display:none; }
}

