*
{
  margin:0;
}

@font-face
{
  src:url('../fonts/OpenSans-Light-webfont.woff');
  font-family:'opensans';
}

@font-face
{
  src:url('../fonts/roboto.woff');
  font-family:'roboto';
}

body
{
  font-family:opensans;
  background-color: #f7f6f2;
}

.input_wrap
{
  border: 1px solid #888;
  border-radius: 2px;
  display: block;
  padding: 2px 4px;
  background-color: #fff;
}
.input_wrap>input
{
  width: 100%;
  border: none;
  font-family:opensans;
  font-size: 12px;
}
.input_wrap>input:focus
{
  outline: none;
}

#menu {
  height: 40px;
  background-color: #000;
  z-index:2; 
}

#elist_wrap
{
  margin: 0 auto;
  width: 90%;
  border-bottom:1px dotted #eee;
}

#elist_filter
{
  float: left;
  margin: 10px 10px 0 0;
  background-color: #eee;
  padding: 8px;
}

ul { list-style-type:none; padding:0; }

#elist
{
  color:#484848;
  overflow: hidden;
}

#elist>li
{
  float:left;
  text-transform:uppercase; 
  font-size:.7em;
  padding: 0 8px;
  border-left:1px dotted #ddd;
  margin: 10px 0 20px;
  width: 16%;
  display:block;
}

#elist ul>li>a
{
  line-height:1.8em;
  cursor:pointer;
  color:#222;
  text-decoration:none;
}

#elist ul>li>a:hover
{
  text-decoration:underline; 
}

#elist>li>h4
{
  color:#222;
  font-weight:bold;
  font-size: 12px;
  padding-bottom: 2px;
}

#elist .filtered
{
  background: #edc;
}

#content_wrap
{
  color: #fff;
  background-color:#d35400;
}

#event_wrap
{
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 0 20px;
}

#event_title
{
  padding: 20px;
  display: block;
  vertical-align: middle;
  font-family:roboto;
  text-transform:uppercase;
  letter-spacing:15px;
  text-align: center; 
}

#event_logo
{
  width:150px;
  height:150px;
  display:block;
  vertical-align:middle;
  margin:auto;
}

#event_text
{
  overflow: auto;
  padding: 20px;
  font-size:.8em;
}

#event_text>span>span
{
  background-color: #e67e22;
  padding: 20px;
  display: block;
}

#event_text_right
{
  overflow: hidden;
  display: block;
}

#event_text_left
{
  width: 25%;
  min-width: 150px;
  float: left;
  margin-right:15px;
  display: block;
}

#event_text_left>span
{
  margin-bottom:15px;
}

h3 { margin: 4px 0 10px; }
p { margin: 4px 0 16px; }

@media screen and (max-width: 649px)
{
  #event_wrap { width: auto; }
  #elist_filter { width: 30%; max-width: 172px; }
  #elist>li  { float: none; width: auto; padding: 2px 8px; margin: 0; }
  #elist>li>h4  { cursor: pointer; padding: 6px 0; }
  #elist ul  { display:none; padding-left: 4px; }
}

@media screen and (max-width: 799px)
{
  #elist_wrap { width: auto; margin-left: 10px; margin-right: 10px; }
}

@media screen and (min-width: 650px)
{
  #elist_filter { display:block; width: 175px; }
}

@media screen and (min-width: 820px)
{
  #elist_wrap { max-width: 860px; }
  #elist_filter { display:block; }
  #elist>li  { padding-left: 12px; padding-right: 8px; }
  #event_title { font-size: 2.8em; }
  #edesc_sections { font-size: 1.2em; padding: 0 20px; }
  #elist ul  { padding-left: 2px; }
}

@media screen and (min-width: 960px)
{
  #elist_wrap { max-width: 1000px; }
  #elist_filter { display:block; width: 200px; }
  #elist>li  { padding-left: 16px; padding-right: 12px; width: 15%; }
}

@media screen and (min-width: 1160px)
{
  #elist_wrap { max-width: 1100px; }
  #elist_filter { display:block; width: 240px; }
  #elist>li  { padding-left: 20px; padding-right: 16px; }
}
